{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand" style="margin-left: 20px; font-size: 2rem;">ToDo</a>
    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Logout</button>
</nav>

<div class="container m-5 p-2 rounded mx-auto bg-light shadow">
    <div class="row m-1 p-4">
        <div class="col">
            <div class="h1 text-primary text-center display-inline-block">
                <h1 style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">My ToDo</h1>
            </div>
        </div>
    </div>

    <!-- Form -->
    <form method="POST">
        {% csrf_token %}

        <div class="row m-1 p-3">
            <div class="col col-11 mx-auto">
                <div class="row bg-white justify-content-center">
                    <div class="col">
                        <input type="text" name="task_name" maxlength="200" required id="=id_task_name"
                            class="form-control form-control-lg border-0 add-todo-input bg-transparent"
                            placeholder="Add Task...">
                    </div>

                    <div class="col-auto m-0 px-2 d-flex align-item-center">
                        <input title="Set a due date" type="date" name="due_date" id="id_due_date">
                    </div>
                    <div class="col-auto px-2 d-flex align-item-center">
                        <input type="submit" class="btn btn-primary" value="Add">
                    </div>

                </div>
            </div>
        </div>
    </form>

    <div class="p-2 mx-4 border-black-25 border-bottom"></div>

    <!-- Add Task Table -->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Task</th>
                <th scope="col">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            Priority
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'home:home' %}" class="dropdown-item">ALL</a>
                                <a href="{% url 'home:priority' 'L' %}" class="dropdown-item">Low</a>
                                <a href="{% url 'home:priority' 'M' %}" class="dropdown-item">Medium</a>
                                <a href="{% url 'home:priority' 'H' %}" class="dropdown-item">High</a>
                            </li>
                        </ul>
                    </div>
                </th>
                <th scope="col">Due Date</th>
                <th scope="col">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            Status
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'home:home' %}" class="dropdown-item">ALL</a>
                                <a href="{% url 'home:status' 'False' %}" class="dropdown-item">To Do</a>
                                <a href="{% url 'home:status' 'True' %}" class="dropdown-item">Completed</a>
                            </li>
                        </ul>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td scope="row">{{ forloop.counter }}</td>
                <td scope="row">{{ task.task_name }}</td>
                <td scope="row" style="text-align: center; width: 100px;">{{ task.priority }}</td>
                <td scope="row">{{ task.due_date }}</td>
                <td scope="row" class="{% if task.completed %}done{% else %}todo{% endif %}"
                    style="text-align: center; font-weight: bold; {% if task.completed %}background-color: green;{% else %}background-color: yellow;{% endif %}; width: 100px;">
                    {% if task.completed == True %}
                    Done
                    {% else %}
                    To Do
                    {% endif %}
                </td>
                <td><a href="{% url 'home:edit' task.id %}"><i class='bx bx-edit text-primary'></i></a></td>
                <td><a href="{% url 'home:delete' task.id %}"><i class='bx bxs-trash text-danger'></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}