asgiref==3.7.2
Django==5.0.3
django-cors-headers==3.13.0
django-crispy-forms==2.1
django-extensions==3.2.3
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
humanize==4.3.0
mysqlclient==2.2.4
pillow==10.2.0
psycopg2-binary==2.9.5
PyJWT==2.3.0
python-dotenv==1.0.1
pytz==2024.1
setuptools==69.1.1
sqlparse==0.4.4
tzdata==2024.1
wheel==0.42.0
whitenoise==6.2.0
